/**
 * Contact component
 */
.c-contact {
    align-items: center;
    background-color: #b91c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;
}
